@font-face{
    font-family: 'Chalet ParisNineteenSixty';
    src: url('/site-media/fonts/Chalet-ParisNineteenSixty.otf') format('opentype');
}
@font-face{
    font-family: 'Chalet LondonNineteenSixty';
    src: url('/site-media/fonts/Chalet-LondonNineteenSixty.otf') format('opentype');
}   

html {
    font-weight:normal;
    font-family: 'Chalet LondonNineteenSixty';
}

body {
}

a {
    text-decoration: none;
}

a:link {
    color:#2C4F93;
}

a:visited {
    color:#2C4F93;
}

a:hover {
    color:#3B475F;
}

#container {
    width: 660px;
    margin: auto;
}

#header {
    font-size: 3em;
    font-family: 'Chalet ParisNineteenSixty';
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
    text-align: center;
}

#search-form-box {
    padding-bottom: 75px;
}

#loading {
    text-align: center;
}

input {
    font-size:1em;
    padding: 0.2em 5px 0.2em 0.2em;
}

#id_q {
    width: 420px;
}

#id_postal_code {
    width: 100px;
}

#id_search_button {
    width: 100px;
}


.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border: 0px;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.2em;
    background: #7C98CB;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#7C98CB), to(#2C4F93)); 
    background: -moz-linear-gradient(top, #7C98CB, #7C98CB, #2C4F93);
}

.button:hover {
    background: #2C4F93;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#7C98CB), to(#2C4F93)); 
    background: -moz-linear-gradient(top, #7C98CB, #7C98CB, #2C4F93);
    -moz-box-shadow:    2px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    box-shadow:         2px 2px 6px rgba(0, 0, 0, 0.5);    
    text-shadow: rgba(0, 0, 0, 0.5) 0.2em 0.2em 0.4em;
}

.button:active {
    background: #7C98CB;
    background: -webkit-gradient(linear, 0 50%, 0 100%, from(#2C4F93), to(#7C98CB)); 
    background: -moz-linear-gradient(top, #2C4F93, #2C4F93, #7C98CB);
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.5);
}

.result {
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    background: #EFEFEF;
    margin-bottom: 10px;
    padding: 0.8em 0.6em 3em 0.6em;
    overflow:visible;
    white-space: nowrap;   
}

.result h3 {
    float: left;
    font-size: 2em;
}

.result .score {
    top: -10px;
    float: right;
    font-size: 1.6em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    background:none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #9B999A;
    color: #555E63;
    padding: 5px;
    text-align:center;
    position:relative;
    top: -35px;
}

.address {
    clear: both;
    float: left;
}

.map {
    float: right;
}