/*
    Where To Eat
    Main Stylesheet
*/

* { margin: 0; padding:0; }


/* HEADER */
#header { margin: 0; padding: 0; height:100px; width:100%; background-color:#0B486B;}

@font-face {
  font-family: Code;
  src: url(http://localhost:8000/site-media/fonts/MuseoSans_500.otf);
}

#header .logo { 
    padding: 26px 0 0 130px; 
}

#header .logo a {
    font-family: Code,Helvetica,Arial,sans-serif;
    font-size: 48px;
    color: #A8DBA8;
}
/* CONTENT */
input { 
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    background: white url(http://localhost:8000/site-media/images/bg-form-field.gif) repeat-x 0% 0%;
    border: solid #D5D5D5;
    color: #333;
    font-size: 13px;
    padding: 6px;
    /*height: 30px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; */
}

.search { margin-left: 234px;}

.button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    height: 41px;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border: 0px;
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;

}

.blue {
    color: #d9eef7;
    border: solid 1px #0B486B;
    background: #0B486B;
    background: -webkit-gradient(linear, left top, left bottom, from(#107FC9), to(#0B486B));
    background: -moz-linear-gradient(top,  #0B486B,  #0B486B);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B486B', endColorstr='#0B486B');
}
.blue:hover {
    background: #0B486B;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B486B', endColorstr='#0B486B');
}
.blue:active {
    color: #0B486B;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B486B', endColorstr='#0B486B');
}


/********************************       Search Results      ********************************/

#result { 
    background: #F5F0E4;
    border: 1px solid #DDD;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    height: 400px;
    padding: 18px;
    width: 975px;
    display: none;
}

#result .logo { float: left; }
#result .logo img { 
    padding: 5px;
    height: 250px; 
    width: 250px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    margin-right: 50px;
}

#result h3 { font-size: 28px; color: #0B486B;} 

#result .metrics {
    width: 85%;
    background: #E9E1D4;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    margin: 0px 0px 18px;
    padding: 9px;
}

#result .company { float: left; width: 500px; }


.metrics {
    background: #E9E1D4;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    margin: 0px 0px 18px;
    padding:9px;
}

.z-clearfix {
    display: block;
    zoom: 1;
}

.metrics .z-section span {
    color: #4A4130;
    font-size: 17px;
    font-weight: bold;
    margin: 0px 0px 0px 9px;
    padding: 0px 0px 0px 0px;
}

.metrics .z-section img {
    height: 28px;
    width: 28px;
}
.metrics .z-section li {
    list-style-image: none;
}
/********************************      Basic Structure      ********************************/

html {
                font-size: 100%;
                height: 100%;
                margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
                }

body {
                font-family: Arial, Helvetica, sans-serif;
                color: #555;
                background: #f0f0f0 url('../images/bg-body.gif') top left repeat-y;
                font-size: 18px;
                }

#body-wrapper {
/*                background: url('../images/bg-radial-gradient.gif') no-repeat;*/
                }                

/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
                font-family: Helvetica, Arial, sans-serif;
                color: #222;
                font-weight: bold;
                }

h1            { font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff; 
                  position: absolute; top: -1000px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
                }

h2            { font-size: 26px; padding: 0 0 10px 0; }
h3            { font-size: 17px; padding: 0 0 10px 0; }
h4            { font-size: 16px; padding: 0 0 5px 0; }
h5            { font-size: 14px; padding: 0 0 5px 0; }
h6            { font-size: 12px; padding: 0 0 5px 0; }


a              { color: #57a000; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }

strong       { font-weight: bold; color: #333; }

small           { font-size: 0.85em; }

pre           { font-family: monospace; }

p {
                padding: 5px 0 10px 0;
                line-height: 1.6em;
                }

/********************************      General Classes      ********************************/

.clear {
                clear: both;
                }

.align-left {
                float: left;
                }

.align-right {
                float: right;
                }

/************ Button ************/

a.remove-link {
                color: #bb0000;
                }

a.remove-link:hover {
                color: #000;
                }


/************ Layout ************/

#main-content {
                margin: 0 30px 0 130px;
                padding: 40px 0 0 0;
                }

.column-left {
                width: 48%;
                float: left;
                }
                
.column-right {
                width: 48%;
                float: right;
                }
               
#page-intro {
                font-size: 17px;
                padding: 0 0 20px 0;
                }


#footer {
                border-top: 1px solid #ccc;
                margin: 40px 0 0 0;
                padding: 20px 0;
                font-size: 12px;
                }
/************ Lists ************/

#main-content ul,
#main-content ol {
                padding: 10px 0;
                }

/* Unordered List */

#main-content ul li {
                background: url('../images/icons/bullet_black.png') center left no-repeat;
                padding: 4px 0 4px 20px;
                }

/* Ordered List */

#main-content ol {
                padding: 0 0 0 24px;
                }

#main-content ol li {
                list-style: decimal;
                padding: 4px 0;
                }

/*************** Forms ***************/

form label {
                display: block;
                padding: 0 0 10px;
                font-weight: bold;
                }
             
form fieldset legend {
                font-weight: bold;
                margin-bottom: 10px;
                padding-top: 10px;
                }
                
form p small {
                font-size: 0.75em;
                color: #777;
                }


form .small-input {
                width: 300px !important;
                height: 30px;
                font-size: 18px;
                margin-right: 10px;
                border: 1px solid #CCC;
                }
form .small-postal {
                width: 150px !important;
                height: 30px;
                font-size: 18px;
                margin-right: 10px;
                border: 1px solid #CCC;
}
#map {  
  position: absolute;
  top: 220px;
  left: 625px;
  height: 400px;
  width: 500px;
  display: none;
}

