<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> 
		<title>{% block title %}NomNomNom Rank - Find somewhere good to eat near you!{% endblock %}</title>
		{% block css %}
		<link rel="stylesheet" href="{{MEDIA_URL}}css/reset.css" type="text/css" media="screen" />  
		<link rel="stylesheet" href="{{MEDIA_URL}}css/clearfix.css" type="text/css" media="screen" /> 	
		<link rel="stylesheet" href="{{MEDIA_URL}}css/nomnomnom.css" type="text/css" media="screen" /> 	
		{% endblock css %}
		
		{% block javascript %}
		<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script> 
		<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.5.custom.min.js"></script> 
		<script type="text/javascript" src="{{MEDIA_URL}}js/query_tool.js"></script>
		<script type="text/javascript"src="http://maps.google.com/maps/api/js?v=3.1&sensor=false"></script>	
		{% endblock javascript %}
		
		<script type='text/javascript'>
		    var SEARCH_JSON = "{% url search_json %}";
            // google.load("maps","2.x");
		</script>
	</head> 
  
	<body>
	    <div id='container'>
	        <h1 id='header'><a href='{% url index %}'>NomNomNom Rank</a></h1>
	        <div id='search-form-box'>
	            <form action="" method="post" class='search'> 	
					<p>
					    {{ form.q }}
					    {{ form.postal_code }}	
						<input type="submit" class="medium button blue" value="Go" id="id_search_button"/>
					</p> 
				</form>
	        </div>
	        <div id='loading' style='display:none'>
			    <img src='{{ MEDIA_URL }}/images/spinner.gif'>
			</div>
			<div id='error' style='display:none'>
                <p>No results found - your area sucks for good food.</p>
			</div>
			<div id='results' style='display:none'>
			    <ul class='result clearfix'>
			        <span class='score' id='id_rank'></span>
			        <h3 class='company_name' id='id_company_name'></h3>
			        <ul class='address'>
						<li id='id_street_address'></li>
						<li>
						    <span id='id_city'></span>
						    <span id='id_prov'></span>
						</li>
					</ul>
					<div id='id_metrics' class='metrics'>
					    <h4>Why did we choose this restaraunt?</h4>
					    <ul>
					        <li>
                                <img id='weather_icon' src='' /><span>Weather:</span>
                                <span id='id_weather'></span>
					        </li>
					        <li>
                                <img src='{{MEDIA_URL}}images/footsteps.jpg' />
                                <span>Distance:</span>
                                <span id='id_distance'></span>
					        </li>
					        <li>
					            <img src='{{MEDIA_URL}}images/foursquare.jpg' />
					            <span>Fourquare Popularity</span> 
					        </li>
					        <li>
					            <img src='{{MEDIA_URL}}images/foursquare.jpg' />
					            <span>Fourquare Saturation</span>
					        </li>
					    </ul>
					</div>
					<div id='id_map' class='map' style='width:250px;height:250px;'></div>
			    </ul>
			</div>
	    </div>
	</body> 
</html>
