<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> 
		<title>{% block title %}NomNomNom Rank - Find somewhere good to eat near you!{% endblock %}</title>
		{% block css %}
		<link rel="stylesheet" href="{{MEDIA_URL}}css/reset.css" type="text/css" media="screen" />  
		<link rel="stylesheet" href="{{MEDIA_URL}}css/clearfix.css" type="text/css" media="screen" /> 	
		<link rel="stylesheet" href="{{MEDIA_URL}}css/nomnomnom.css" type="text/css" media="screen" /> 	
		{% endblock css %}
		
		{% block javascript %}
		<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script> 
		<script type="text/javascript" src="{{MEDIA_URL}}js/query_tool.js"></script>
		{% endblock javascript %}
		
		<script type='text/javascript'>
		    var SEARCH_JSON = "{% url search_json %}";
		</script>
	</head> 
  
	<body>
	    <div id='container'>
	        <h1 id='header'><a href='{% url index %}'>NomNomNom Rank</a></h1>
	        <div id='search-form-box'>
	            <form action="" method="post" class='search'> 	
					<p>
					    {{ form.q }}
					    {{ form.postal_code }}	
						<input type="submit" class="medium button blue" value="Go" id="id_search_button"/>
					</p> 
				</form>
	        </div>
	        <div id='loading' style='display:none'>
			    <img src='{{ MEDIA_URL }}/images/spinner.gif'>
			</div>
			<div id='results'>
			    <ul class='result'>
			        <span class='score'>1.234</span>
			        <h3 class='company_name' id='id_company_name'>Company Name</h3>
			        <ul class='address'>
						<li id='id_street_address'>123 This Rd</li>
						<li>
						    <span id='id_city'>Toronto</span>
						    <span id='id_prov'>Ontario</span>
						</li>
					</ul>
			    </fieldset>
			</div>
	    </div>
	</body> 
</html>
	    
	    
	    
	    {% comment %}
		<div id="body-wrapper"> <!-- Wrapper for the radial gradient background --> 
			<div id='header'>
				<div class='logo'>
					<a href='{% url index %}'>Nom Nom Nom Rank</a>
				</div>
			</div>
			<div id="main-content"> <!-- Main Content Section with everything --> 
					<form action="" method="post" class='search'> 	
						<p>
						    {{ form.q }}
						    {{ form.postal_code }}
							<!-- <input class="text-input small-input" type="text" id="small-input" onfocus="if($(this).val() == 'What should I eat?') { $(this).val('');}" onblur="if($(this).val() == ''){ $(this).val('What should I eat?'); }" name="search" value="What should I eat?" />
							<input class="text-input small-postal" type="text" id="small-input" onfocus="if($(this).val() == 'Postal Code') { $(this).val('');}" onblur="if($(this).val() == ''){ $(this).val('Postal Code'); }" name="postal_code" value="Postal Code" /> -->
							
							<input type="submit" class="medium button blue" value="Go" id="id_search_button"/>
						</p> 
					</form>
					<div id='loading' style='display:none'>
					    <img src='{{ MEDIA_URL }}/images/spinner.gif'>
					</div>
					<div id='error' style='display:none'>
                        <p>No results found - your area sucks for good food.</p>
					</div>
					<div id='result'>
						<div class='company'>
							<h3 id='id_company_name'></h3>
							<h4>Foodie Score: <span id='id_rank'></span></h4>
							<ul>
								<li id='id_street_address'></li>
								<li>
								    <span id='id_city'></span>
								    <span id='id_prov'></span>
								</li>
								<li id='id_url'></li>
							</ul>
							<div class='metrics z-clearfix'>
								<div class="z-name"> 
									<strong> 
										Metrics
									</strong> 
								</div> 
								
								<div class="z-section"> 
									<img id='weather_icon' src='' /><span>Weather:</span> 
									<span id='id_weather'></span>
								</div>
								<div class="z-section"> 
									<img src='{{MEDIA_URL}}images/road.gif' /><span>Distance:</span> 
									<span id='id_distance'></span>
								</div>
								<!--><div class="z-section"> 
									<img src='{{MEDIA_URL}}images/foursquare.png' /><span>Fourquare Popularity</span> 
									60 checkins / month
								</div>
								<div class="z-section"> 
									<img src='{{MEDIA_URL}}images/foursquare.png' /><span>Fourquare Saturation</span> 
								 	10 checkins right now
								</div>-->
							</div>
						</div>
					</div>
			<div id="footer"> 
				<small> <!-- Remove this notice or replace it with whatever you want --> 
						<a href='#'>About Us</a> | &#169; Copyright 2010
				</small> 
			</div><!-- End #footer --> 
		</div> <!-- End #main-content --> 
		
	</div>
    <div id='map'></div>
    {% endcomment %}
